.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #2c61b6;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #e3ea24;
}

p {
  font-size: 2rem;
  color: #25e728;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

.container button{
  padding: 8px 24px;
  align-items: center;
  position: absolute;
  top: 80%;
  left: 47%;
  border: none;
  outline: none;
  border-radius: 25px;
  background-color:#25e728;
  font-size: 18px;
  color: #EEEEEE;
  
}

footer {
  margin-top: 8%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
